.donor__list-item {
  border: 1px solid gray;
}

.donor__list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.donor__image {
  height: 4rem;
}

.donor__profile {
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  text-decoration: none;
  color: currentColor;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid gray;
    color: red;
  }

  &:focus {
    outline: none;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}

table td {
  padding: 4px 8px 0;
  text-align: left;
}

table th {
  padding: 8px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
