.PageNotFound {
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;

  h3 {
    color: red;
  }

  .header__itmes {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #131313;
    font-size: 1.6rem;
  }

  // .header__items {
  //   border-bottom: 1px solid gray;
  //   font-size: 2rem;
  // }

  &__img {
    width: 30%;
    display: block;
    margin: 5rem auto;
  }
}
