.PageNotFound {
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;

  h3 {
    color: red;
  }

  .header__itmes {
    border-bottom: 1px solid gray;
    font-size: 2rem;
  }

  &__img {
    width: 30%;
    display: block;
    margin: 5rem auto;
  }
}