.donor {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }

  &__info {
    width: 60%;
    background-color: #80808057;
    padding: 4rem;

    @media only screen and (max-width: 900px) {
      order: 1;
    }
  }

  &__action {
    width: 40%;
    background-color: #ff69b463;
    padding: 4rem;

    img {
      width: 100%;
    }
  }
}
